#chat6
{
  background-color: white;
  text-align: left;
}

#chat5
{
  background-color: white;
  text-align: right;
}
#chat4
{
  background-color: white;
  text-align: left;
}

#chat3
{
  background-color: white;
  text-align: right;
}
#chat2
{
  background-color: white;
  text-align: left;
}

#chat1
{
  background-color: white;
  text-align: right;
}

.eyes
{
  position: relative;
  display: inline-block;
  background-color: grey;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
.container
{
  width: 100%;
  
}

#containerofron
{
    margin:auto;
}

#Ron
{
    margin: auto;
}

#hat
{
    margin:auto;
    background-color:saddlebrown;
    height:40px;
    width:25%;
    position:relative;
}

#innerhat
{
    background-color:#b45918;
    margin-top:20px;
    height:20px;
    width:100%;
}

#face
{
    margin:auto;
    height:100px;
    width: 25%;
    background-color: peachpuff;
    position:relative;
}

#eye
{
    margin-top:10px;
    margin-right:10px;
    margin-left: 10px;
    display:inline-block;
    height:30%;
    width:30%;
    position:relative;
}

#beard
{
    height:60px;
    margin:auto;
    width:25%;
}

#mouth
{
    background-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25%;
    margin-left: 25%;
    height:50%;
    width:50%;
}

