#person
{
  background-color: lightgreen;
  text-align: left;
}

#bot
{
  background-color: lightblue;
  text-align: right;
}

.eyes
{
  position: relative;
  display: inline-block;
  background-color: grey;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
.container
{
  width: 100%;
  
}

#containerofron
{
    margin:auto;
}

#Ron
{
    margin: auto;
}

#hat
{
    margin:auto;
    background-color:saddlebrown;
    height:40px;
    width:25%;
    position:relative;
}

#innerhat
{
    background-color:#b45918;
    margin-top:20px;
    height:20px;
    width:100%;
}

#face
{
    margin:auto;
    height:100px;
    width: 25%;
    background-color: peachpuff;
    position:relative;
}

#eye
{
    margin-top:10px;
    margin-right:10px;
    display:inline-block;
    height:30px;
    width:30px;
    position:relative;
}

#beard
{
    height:60px;
    margin:auto;
    width:25%;
}

#mouth
{
    
}

